@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 20 20 20;
    --color-secondary: 250 250 250;
    --color-accent: 70 130 180;
  }
  .dark {
    --color-primary: 255 255 255;
    --color-secondary: 20 20 20;
    --color-accent: 95 158 160;
  }
  html {
    @apply !scroll-smooth;
  }
  body {
    @apply text-primary bg-secondary flex flex-col min-h-screen scroll-smooth;
  }
  .header {
    @apply py-4 bg-secondary/80 backdrop-blur-sm top-0 sticky z-50 shadow-sm shadow-primary/50;
  }
  .theme-switcher {
    @apply flex items-center border rounded-sm p-2 py-1 uppercase text-sm tracking-wider;
  }
  .theme-switcher svg {
    @apply w-4;
  }
  .theme-switcher span {
    @apply hidden md:block;
  }
  .logo__object {
    stroke: rgb(var(--color-primary));
  }
  .logo__text {
    fill: rgb(var(--color-primary));
  }
  .site-container {
    @apply container mx-auto px-4;
  }
  .header__inner {
    @apply flex items-center justify-between;
  }
  .menu-button {
    @apply w-8 h-8 relative block sm:hidden;
  }
  .menu-button span {
    @apply absolute left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-8 rounded-sm bg-primary;
    height: 0.2rem;
  }
  .menu-button span:first-child {
    top: 45%;
  }
  .menu-button span:last-child {
    top: 65%;
  }
  .menu-button--active span:first-child {
    @apply top-1/2 rotate-45;
  }
  .menu-button--active span:last-child {
    @apply top-1/2 -rotate-45;
  }
  .menu {
    @apply hidden sm:flex items-center;
  }
  .menu--active {
    @apply flex absolute sm:static left-0 w-full py-2 sm:bg-none bg-secondary sm:shadow-none shadow-lg backdrop-blur-sm;
    top: 100%;
  }
  .menu__list {
    @apply flex items-center justify-between;
  }
  .menu__link {
    @apply px-2 py-1 uppercase text-sm font-medium hover:underline;
  }
  .menu__item:not(:last-child) {
    @apply mr-1;
  }
  .nav {
    @apply flex items-center justify-between gap-2;
  }
  .hero {
    @apply text-white;
    background: linear-gradient(
      90deg,
      #000033 0%,
      #000000 85%,
      #000000 86%,
      #000033 100%
    );
  }
  .hero__inner {
    @apply flex items-center justify-between py-2 relative;
  }
  .hero__title {
    @apply text-3xl font-semibold mb-2;
  }
  .hero__title span:last-child {
    @apply block text-lg;
  }
  .hero__text {
    @apply mb-6;
  }
  .hero__text p:not(:last-child) {
    @apply mb-2;
  }
  .hero__content {
    @apply py-32 sm:py-4;
  }
  .hero__object {
    @apply w-1/2 h-48 sm:h-80 absolute right-0 top-0 sm:static;
  }
  .hero__links {
    @apply flex items-center gap-2;
  }
  .button {
    @apply bg-primary hover:bg-primary/80 text-secondary font-bold py-2 px-4 rounded border border-primary uppercase text-sm tracking-wider transition;
  }
  .button--transparent {
    @apply bg-opacity-0 border-secondary;
  }
  .button--hero {
    @apply text-black border-white hover:bg-white/0 hover:text-white bg-white;
  }
  .button--hero.button--transparent {
    @apply text-white border-white bg-opacity-0 hover:bg-white hover:text-black;
  }
  .section-title {
    @apply text-3xl font-semibold mb-6 uppercase tracking-wider inline-block;
  }
  .section-title:after {
    content: "_";
    @apply animate-console-cursor;
  }
  .about {
    @apply py-12 scroll-mt-12;
  }

  .about__content a {
      @apply underline hover:no-underline;
  }
  .skills {
    @apply py-12;
  }
  .skills__blocks {
    @apply grid grid-cols-1 md:grid-cols-3 xl:grid-cols-5 gap-5;
  }
  .skills__block {
    @apply relative px-2 pt-4 pb-16 sm:pb-10 rounded-sm bg-white dark:bg-white/10 transition-shadow shadow-sm hover:shadow-md;
  }
  .skills__block:hover svg {
    @apply fill-primary;
  }
  .skills__block svg {
    @apply absolute bottom-1 right-1 w-1/4 md:w-1/3 transition-all fill-secondary;
  }
  .skills__title {
    @apply font-medium mb-4 pb-2 border-b uppercase text-sm;
  }
  .skills__items {
    @apply relative list-disc pl-4 z-10;
  }
  .skills__item {
    @apply w-2/3;
  }
  .contact__subtitle {
    @apply text-2xl mb-2;
  }
  .contact {
    @apply py-12 scroll-mt-12;
  }
  .contact-list {
    @apply flex gap-2;
  }
  .contact-form {
    @apply flex flex-col items-start gap-4;
  }
  .contact-form input,
  .contact-form textarea {
    @apply px-3 py-2 rounded-sm w-full shadow-sm;
  }
  .contact-form__info {
    @apply p-1 border;
  }
  .contact__inner {
    @apply grid grid-cols-1 md:grid-cols-2 gap-8;
  }
  .contact-icon path {
    @apply fill-primary;
  }

  .contact-icon:hover path {
    @apply fill-primary/70;
  }
  .footer {
    @apply bg-primary text-secondary py-2 mt-auto;
  }
  .footer__text {
    @apply text-center py-2;
  }

  .projects {
    @apply scroll-mt-12 py-6;
  }

  .projects__items {
    @apply grid grid-cols-1 md:grid-cols-3 gap-y-8 gap-x-4;
  }

  .project {
    @apply flex flex-col h-full bg-secondary dark:bg-primary/10 shadow-lg hover:shadow-xl transition cursor-pointer;
  }
  .project__info {
    @apply p-4 w-full flex flex-col h-full;
  }
  .project__image {
    @apply w-full bg-primary;
  }
  .project__image img {
    @apply mx-auto;
  }
  .project__title {
    @apply text-lg uppercase font-semibold tracking-wider mb-1;
  }
  .project__description {
    @apply truncate mb-auto pb-2;
  }
  .modal__tags {
    @apply flex flex-wrap gap-1;
  }
  .modal__tags li {
    @apply text-xs font-semibold uppercase tracking-wider hover:text-primary/70;
  }
  .modal__tags li::before {
    content: "#";
  }
  .modal__tags li:not(:last-child)::after {
    content: ",";
  }
  .modal {
    @apply animate-popup flex flex-col fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-secondary/100 w-full max-w-[700px] max-h-[86vh] outline-none;
  }
  .modal__header {
    @apply flex items-center px-6 py-2 shadow-md;
  }
  .modal-overlay {
    @apply fixed top-0 left-0 w-full h-full bg-primary/50 z-50 overflow-hidden backdrop-blur-sm;
  }
  .modal__close {
    @apply ml-auto w-10;
  }
  .modal__inner {
    @apply px-6 pt-6 pb-14 h-[86vh] overflow-y-auto;
  }
  .modal__title {
    @apply text-2xl mr-1;
  }
  .modal__description {
    @apply whitespace-pre-line mb-4;
  }
  .modal__subtitle {
      @apply block mb-2;
  }
  .modal__tags {
      @apply mb-4;
  }
  .modal__images {
    @apply mb-6
  }
  .modal__images img  {
    @apply w-full mb-2 last:mb-0
  }
  .body-fixed {
    @apply overflow-hidden;
  }
}
