@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 38 38 38;
    --color-secondary: 245 245 245;
    --color-accent: 70 130 180;
  }
  .dark {
    --color-primary: 217 217 217;
    --color-secondary: 28 28 28;
    --color-accent: 95 158 160;
  }
  body {
    @apply text-primary bg-secondary;
  }
}
